body {
    font-family: 'Arimo', sans-serif;
}

.teams {
    padding: 0 20px 0 10px;
    width: 230px;

}

.match {
    width: 390px;
    border: 1px solid green;
    display: flex;
    margin-left: 10px;
}

h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}


.time {
    border-left: 1px solid grey;
    padding-left: 10px;
    flex-grow: 1;
}

p {
    line-height: 3px;
}

.games {
    width: 410px;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
}

.brackets {
    display: flex;
}


